* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Brush Script MT', cursive;
    font-family: 'Oleo Script', cursive;
    font-size: medium;
}

h1 {
    font-size: xx-large;
}

.SearchBar {
    margin-top: 20px;
}

body {
    background-image: url(photographer.jpg);
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hit-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding:0;
}

    #hit-list li {
        list-style-type: none;
        margin: 10px;
        text-align: center;
        flex-basis: 33%;
        flex-grow: 1;
    }

        #hit-list li img {
            object-fit: cover;
            padding: 0;
            margin: 0;
            width: 230px;
            height: 230px;
        }

        #hit-list li p {
            padding-left: 10px;
            padding-right: 10px;
            font-size: large;
        }

        #hit-list li #tags {
            font-size: x-large;
        }

footer {
    margin: 20px;
}